<% if (errors && errors.length > 0) { %>
  <% errors.forEach(err => { %>
    <div class="message error">
        <%= (typeof err === 'object' && err.msg) ? err.msg : err %>
    </div>
  <% }) %>
<% } %>

<% if (successMessage) { %>
    <div class="message success">
        <%= (typeof successMessage === 'object' && successMessage.msg) ? successMessage.msg : successMessage %>
    </div>
<% } %>