
<h2>register</h2>

<%- include('../partials/message') %>

<form method="POST" action="/api/auth/register" class="auth-form">
  <label for="name">name</label>
  <input type="text" id="name" name="name" required />

  <label for="email">email</label>
  <input type="email" id="email" name="email" required />

  <label for="password">password</label>
  <input type="password" id="password" name="password" required />

  <button type="submit">register</button>
</form>